# Base de datos (que se genera sola)
*.db

# Carpeta de compilación (pesa mucho, no va en Git)
build/
.gradle/

# Archivos de IntelliJ IDEA
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/gradle.xml
.idea/kotlinc.xml
.idea/misc.xml
*.iws
*.iml
*.ipr
out/

# Kotlin
.kotlin/

# Mac
.DS_Store
